*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: wheat;
}
body ,html {
    overflow-x: hidden;
}
/* Part 1 */
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/header-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin: 200px;
    color: white;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line{
    width: 200px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 5vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.ctn {
    padding: 8px 10px;
    border: 2px solid crimson;
    border-radius: 20px;
    color:white;
    letter-spacing: 0.2em;
    margin-top: auto;
    transition: 1s;
}
.ctn:hover {
	color: white;
    border-color: whitesmoke;
	background-color: crimson;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}
.navbar {
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.navbar h1{
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
}
.navbar h1 span {
    color: black;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links  li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links  li a {
    color: rgb(112, 39, 39);
    text-decoration:none;
    letter-spacing: .2em;
    font-size: 15px;
}
.nav-links  li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: aquamarine;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links  li:hover::after {
    width: 100%;
}



/* Part 2*/
section {
    width: 80%;
    margin: 80px auto;
}
.title {  
    text-transform:capitalize;
    text-align: center;
    font-style: italic;
    font-size: 4vmin;
    color: rgb(123, 56, 123);
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col  {
    width: 80%;
    flex-direction:column;
    align-items:center;
}
.row .col .pas {
    margin: 20px;
}
.events .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    text-transform:capitalize;
    margin: 20px auto;
    color: #000;
}
p {
    text-transform:capitalize;
    color:rgb(61, 58, 54);
    margin: 20px auto;
}
.events .ctn {
    text-transform:capitalize;
    color: black;
}
/* Part 3 */
.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 50%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 7vmin;
}
.explore-content line {
    margin-bottom: 50px;
}
.explore-content p{
    color: aliceblue;
}
.explore-content .ctn {
    margin-top: 40px;
}

/* Part 4*/
.content-col {
    width: 50%;
}
.image-col{
    width:60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    font-size: 7vmin;
    text-transform:uppercase;
    text-decoration: line-through;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin: 30px auto;
    color: black;
}

/* Part 5*/
.footer {
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background-color: rgb(37, 75, 121);
    text-align:center;
}
.footer p{
    margin: 20px auto;
    color: wheat;
    text-transform: uppercase
}

@media only screen and (max-width :850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height:100vh;
        justify-content: center;
        background-color: rgb(104, 76, 76);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* event */
    .row{
        flex-direction: column;
    }
    .row col {
        margin: 20px auto;
        justify-content: center;
    }
    .col img {
        max-width: 90%;
        margin: 20px;
    }
    /* explore */
    .explore-content{
        width: 100%;
    }
    /* up */
    .tour .col {
        width: 100%;
    }
    .image-gallery{
        justify-content:center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    /* fo */
    .footer {
        padding: 10px;
    }
}
img {
    transition: teansform.3s ease;
}
img:hover {
    transform: scale(1.2);
}
li:hover{
    color: crimson;
}